/* Place your CSS styles in this file */

h1 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
}

.nav-default {
background-image: linear-gradient(to right, rgba(139,23,32,0.90), rgba(4,0,1,0.75));
}

.navbrand {
color: rgb(255, 255, 255);
font-family: Lato;
font-weight: bold;
}

.navbutton {
color: white;
}

@media (max-width: 991px) {
.sidebar {
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}
}

nav {
position: absolute;
top: 0;
height: 90px;
margin: 0;
padding: 0;
width: 100%;
justify-content: center;
align-items: center;
}

header-image {
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(./pictures/header.jpg) no-repeat center top;
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./pictures/header.jpg) no-repeat center top;
background-size: cover;
background-attachment: fixed !important;
width: 100%;
height: 100vh;
}

.carousel > .carousel-inner > .carousel-item > img {
width: 100%;
height: 650px;
object-fit: cover;
}

.carousel-overlay:after {
content: "";
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: black;
opacity: 0.6;
z-index: 1;
}

.carousel-caption {
z-index: 2;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;  /* Ensures the navbar is on top */
}